/* src/ui/background/ResponsiveBanner.module.scss */
.wrap {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  color: #fff;
}

.inner {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-inline: clamp(16px, 4vw, 48px);
  padding-block: clamp(16px, 6vh, 48px);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

/* ===== Теми (фони) ===== */

/* Головна */
.bg-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 46%;

  background-image: image-set(
                  url('/images/backgrounds/mobile/fon-mobile.webp') type('image/jpeg') 1x,
                  url('/images/backgrounds/mobile/fon-mobile@2x.jpg') type('image/jpeg') 2x
  );

  @media (min-width: 768px) {
    background-position: 50% 40%;
    background-image: image-set(
                    url('/images/backgrounds/desktop/fon-desktop.jpg') type('image/jpeg') 1x,
                    url('/images/backgrounds/desktop/fon-desktop@2x.jpg') type('image/jpeg') 2x
    );
  }

  @media (min-width: 1200px) {
    background-position: 50% 32%;
    background-image: image-set(
                    url('/images/backgrounds/desktop/fon-desktop.webp') type('image/webp') 1x,
                    url('/images/backgrounds/desktop/fon-desktop@2x.webp') type('image/webp') 2x,
                    url('/images/backgrounds/desktop/fon-desktop.jpg') type('image/jpeg') 1x,
                    url('/images/backgrounds/desktop/fon-desktop@2x.jpg') type('image/jpeg') 2x
    );
  }
}

/* Продукти */
.bg-products {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  background-image: image-set(
                  url('/images/backgrounds/mobile/korms.jpg') type('image/jpeg') 1x,
                  url('/images/backgrounds/mobile/korms@2x.jpg') type('image/jpeg') 2x
  );

  @media (min-width: 768px) {
    background-position: 50% 42%;
    background-image: image-set(
                    url('/images/backgrounds/desktop/korm.jpg') type('image/jpeg') 1x,
                    url('/images/backgrounds/desktop/korm@2x.jpg') type('image/jpeg') 2x
    );
  }

  @media (min-width: 1200px) {
    background-position: 50% 34%;
    background-image: image-set(
                    url('/images/backgrounds/desktop/korm.webp') type('image/webp') 1x,
                    url('/images/backgrounds/desktop/korm@2x.webp') type('image/webp') 2x,
                    url('/images/backgrounds/desktop/korm.jpg') type('image/jpeg') 1x,
                    url('/images/backgrounds/desktop/korm@2x.jpg') type('image/jpeg') 2x
    );
  }
}
